:root {
    --primary: #{map-get($vars, primary)};
    --secondary: #{map-get($vars, secondary)};
    --navbg: #{map-get($vars, navbg)};
    --bg-color-one: #{map-get($vars, bg-color-one)};
    --text-color-body: #{map-get($vars, text-color-body)};
    --text-color-heading: #{map-get($vars, text-color-heading)};
    --text-color-light: #{map-get($vars, text-color-light)};
    --text-color-invert: #{map-get($vars, text-color-invert)};    
    --text-color-primary: #{map-get($vars, text-color-primary)};
    --text-color-secondary: #{map-get($vars, text-color-secondary)};
    --text-color-tertiary: #{map-get($vars, text-color-tertiary)};
    --background-color-one: #{map-get($vars, background-color-one)};
    --background-color-two: #{map-get($vars, background-color-two)};
    --background-color-three: #{map-get($vars, background-color-three)};
    --background-color-four: #{map-get($vars, background-color-four)};
    --background-color-five: #{map-get($vars, background-color-five)};
    --background-color-six: #{map-get($vars, background-color-six)};
    --background-color-light: #{map-get($vars, background-color-light)};
    --background-color-dark: #{map-get($vars, background-color-dark)};
    --background-color-body: #{map-get($vars, background-color-body)};
    --button-color-default: #{map-get($vars, button-color-default)};
    --button-color-default-h: #{map-get($vars, button-color-default-h)};
    --button-color-primary: #{map-get($vars, button-color-primary)};
    --button-color-primary-h: #{map-get($vars, button-color-primary-h)};
    --button-color-secondary: #{map-get($vars, button-color-secondary)};
    --button-color-secondary-h: #{map-get($vars, button-color-secondary-h)};
    --button-color-tertiary: #{map-get($vars, button-color-tertiary)};
    --button-color-tertiary-h: #{map-get($vars, button-color-tertiary-h)};
    --button-color-negative: #{map-get($vars, button-color-negative)};
    --button-color-negative-h: #{map-get($vars, button-color-negative-h)};
    --button-color-positive: #{map-get($vars, button-color-positive)};
    --button-color-positive-h: #{map-get($vars, button-color-positive-h)};
    --button-color-neutral: #{map-get($vars, button-color-neutral)};
    --button-color-neutral-h: #{map-get($vars, button-color-neutral-h)};
    --button-color-light: #{map-get($vars, button-color-light)};
    --button-color-light-h: #{map-get($vars, button-color-light-h)};
    --button-color-white: #{map-get($vars, button-color-white)};
    --button-color-white-h: #{map-get($vars, button-color-white-h)};
  }