/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
    text-decoration: none;
    color: $color-text-links;
   
    &:hover,
    &:active {
        text-decoration: underline;
    }

}