.btn--primary{
	background-color: $color-btn-primary;
	border-color:$color-btn-primary;
	&:hover{
    	background-color:darken($color-btn-primary,5);
    	border-color:darken($color-btn-primary,5);
    }
}
