/*------------------------------------*\
    #COMPONENTS NAV LINKS
\*------------------------------------*/

.nav-links{
    padding: halve($inuit-base-spacing-unit) 0;
    margin-bottom: $inuit-base-spacing-unit;
   border-top: 1px solid $color-box-highlight-border;
}
@include media-query(lap-and-up){
	.nav-previous{
		float:left;
	}
	.nav-next{
		float:right;
	}
}