/*------------------------------------*\
    #FORM
\*------------------------------------*/

input, select, textarea{
    max-width:100%;  
}

.cf7ct_widget {

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    input[type="url"],
    textarea,
    select{
        width:100%;
        @extend %form-adjust;
    }

}

/* CF7 ORIGINAL MARKUP */

.wpcf7-submit{

    @extend %btn;
    .widget-area &{
        width:100%;
    }
}


.ajax-loader{
    margin-left: -40px; // Drag image over the button
    border: none;
    vertical-align: middle;
}
.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
}

.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
}

.wpcf7-mail-sent-ng {
    border: 2px solid #ff0000;
}

.wpcf7-spam-blocked {
    border: 2px solid #ffa500;
}

.wpcf7-validation-errors {
    border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
    position: relative;
}

.wpcf7-not-valid-tip {
    @include inuit-font-size(14px, none);
    background-color:$color-negative;
    color: $color-highlight;
    display: block;
    padding: $inuit-base-spacing-unit/4 $inuit-base-spacing-unit/4;

}


.wpcf7-display-none {
    display: none;
}


.wpcf7 .ajax-error {
    display: none;
}

.wpcf7 .placeheld {
    color: #888;
}

/* Modifiers */

//Custom  Addon cf7 widget wrapper class
//.cf7ct_widget{
//     padding:0.5em;  
//     border:1px solid $color-gray-light;

//}

//.cf7ct_widget .widget-title{
//    text-align:center;
//    font-weight:600;
//    margin:0.5em 0 1em 0;
//}

//.use-floating-validation-tip span.wpcf7-not-valid-tip { 
//    position: absolute;
//    top: 20%;
//    left: 20%;
//    z-index: 100;
//    border: 1px solid #ff0000;
//    background: #fff;
//    padding: .2em .8em;
//}
//
//span.wpcf7-list-item {
//    margin-left: 0.5em;
//}
//