/*------------------------------------*\
    #COMPONENTS CARD
\*------------------------------------*/

.card{
	@extend %z-depth-0;
	padding:$inuit-base-spacing-unit;
	margin-bottom: $inuit-base-spacing-unit;
	@extend %clearfix;
}
.card--flush{
	padding:0;
}

.card--hover{
	transition: all .5s ease;
	&:hover{
	@extend %z-depth-1-half;
	}
}

.card--bg-one{
	background-color:$color-card-bg-1;

}
.card--bg-two{
	background-color:$color-card-bg-2;
}