/*------------------------------------*\
    #COMPONENTS PAGE CONTENT
\*------------------------------------*/

.hentry{
	margin-bottom: $inuit-base-spacing-unit;
}

.entry-content{
    @extend %clearfix;
    margin-bottom: halve($inuit-base-spacing-unit);
}
.entry-title>a{
    font-weight:300;
}
.entry-meta-content{
	margin-bottom: halve($inuit-base-spacing-unit);
	@include inuit-font-size(12px,1);
}