///*------------------------------------*\
//    #GLOBAL
//\*------------------------------------*/


$brand-color:   #2980b9;
$brand-round:   3px;
$base-round:    $brand-round;
$brand-ico-family: 'Fontawesome';