/*------------------------------------*\
    #TRUMP BG-HIGHLIGHTS
\*------------------------------------*/
.bg--body{
    background-color:$color-bg-light;     
}

.bg--dark{
	background-color: $color-gray-dark;
	color: $color-bg-dark-text;
	.widget-title{
		color: $color-bg-dark-text;
	}
	a{
		color:$color-bg-dark-link;		
	}
	h1,h2,h3,h4,h5,h6{
		color: $color-bg-dark-text;
	}
}

.bg--opaq{
	background-color: rgba(000,000,000,.5);	
}

.bg--light{
	background-color: lighten($color-gray-ui,8);
}

.bg--color-one{
	background-color: $color-bg-1;
}
.bg--color-two{	
	background-color: $color-bg-2;
}
.bg--color-three{	
	background-color: $color-bg-3;
}
.bg--color-four{	
	background-color: $color-bg-4;
}
.bg--color-five{	
	background-color: $color-bg-5;
}
.bg--color-six{	
	background-color: $color-bg-6;
}

.bg--center{
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}