/*------------------------------------*\
    #ALIGNMENTS
\*------------------------------------*/

// Use on images
.aligncenter{
    margin:0 auto;   
    clear: both;
    display: block;
}

.alignleft{
    float: left;
    margin-right: $inuit-base-spacing-unit; // add margin to images
}

.alignright{
    float: right;
    margin-left: $inuit-base-spacing-unit; // add margin to images
}

// Use on all
.right,
%right{
	float:right;
}

.left,
%left{
	float:left;
}

.center,
%center{
	margin:0 auto;   
    clear: both;
    display: block;	
}

@include project-generate-classes() {
  .#{$inuit-generate-spacing-alias}--left      {float:left;}
  .#{$inuit-generate-spacing-alias}--center    {margin:0 auto; display: block; clear: both;}
  .#{$inuit-generate-spacing-alias}--right     {float:right;}
}