/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/

.site-header{
	padding: $inuit-base-spacing-unit 0 $inuit-base-spacing-unit/2 0;
    margin-bottom:$inuit-base-spacing-unit/2;
    //border-bottom: 1px solid $color-gray-light;
    //background: $color-tint;
}
.site-header{
    h2,h1{

        @include media-query(lap-and-up){
        margin-bottom:0;    
        }     

    }

}

.brand-logo{
    @include media-query(palm){
    margin: 0 auto;
    display: block;
    }
}