/*------------------------------------*\
    #NAV LINKS
\*------------------------------------*/

.nav-links{
    padding: $inuit-base-spacing-unit/2 0;
    margin-bottom: $inuit-base-spacing-unit;
    border-bottom: 1px solid $color-box-highlight-border;
}