/*------------------------------------*\
    #Generic Input Fields
\*------------------------------------*/

.u-form-input-full{
	input, select, textarea, {
    max-width: 100%;
    width: 100%;
	}
	p{
		margin-bottom: 0;
	}
	input[type=submit]{
		border: 0;
		width:auto;
	}
}
.u-form-required:before{
	content:'*';
	color:$color-negative;
	font-weight: 900;
	margin-left:-0.785em;
}