/*------------------------------------*\
    #BG-HIGHLIGHTS
\*------------------------------------*/

.u-background-color-one{	
	@include var(background-color,background-color-one);
}
.u-background-color-two{
	@include var(background-color,background-color-two);
}
.u-background-color-three{
	@include var(background-color,background-color-three);
}
.u-background-color-four{
	@include var(background-color,background-color-four);
}
.u-background-color-five{
	@include var(background-color,background-color-five);
}
.u-background-color-six{
	@include var(background-color,background-color-six);
}


.u-background-light{	
	@include var(background-color,background-color-light);
}
.u-background-dark{
	@include var(background-color,background-color-dark);
}
.u-background-body{
	@include var(background-color,background-color-body);
}

/* Transpearent Backgrounds */
.u-background-opaq-dark{
	@include rgba-background($color-bg-opaq-dark,$color-bg-opaq-dark-opacity);
}
.u-background-opaq-light{
	@include rgba-background($color-bg-opaq-light,$color-bg-opaq-light-opacity);
}

/*********************************
 Background Image Adjustments 
**********************************/

.u-background-cover{
    background-repeat: no-repeat;
    background-size: cover;
} 
.u-background-contain{
	background-repeat: no-repeat;
    background-size: contain;
}
.u-background-no-repeat{
    background-repeat: no-repeat;
} 


/* Background positioning */
.u-background-pos-top-center{
	background-position: top center;
}
.u-background-pos-top-right{
	background-position: top right;
}
.u-background-pos-bottom-left{
	background-position: bottom left;
}
.u-background-pos-bottom-center{
	background-position: bottom center;
}
.u-background-pos-bottom-right{
	background-position: bottom right;
}
.u-background-pos-center{
	background-position: center;
}