/*------------------------------------*\
    #UTILITIES SHADOW
\*------------------------------------*/

.u-shadow-0,
%u-shadow-0{
    @include box-shadow(0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12));
}
.u-shadow-1,
%u-shadow-1{
    @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
}
.u-shadow-1-half,
%u-shadow-1-half{
    @include box-shadow(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
.u-shadow-2,
%u-shadow-2{
    @include box-shadow(0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
}
.u-shadow-3,
%u-shadow-3{
    @include box-shadow(0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19));
}
.u-shadow-4,
%u-shadow-4{
    @include box-shadow(0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21));
}
.u-shadow-5,
%u-shadow-5{
    @include box-shadow(0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22));
}