/*------------------------------------*\
    #TRUMPS TYPOGRAPHY
\*------------------------------------*/

//Font Weight
.u-text-normal{
    font-weight: $font-weight-normal;
}
.u-text-thinner{
    font-weight: $font-weight-thinner;
}
.u-text-thin{
    font-weight: $font-weight-thin;
}
.u-text-bold{
    font-weight: $font-weight-bold;
}
.u-text-bolder{
    font-weight: $font-weight-bolder;
}

.u-text-italic{
    font-style: italic;
}

//Test Align
.u-text-center{
    text-align: center;
}
.u-text-right{
    text-align: right;
}

.u-text-left{
    text-align: left;
}

//  Text Colors
.u-text-color-invert{
    @include var(color,text-color-invert);
    h1,h2,h3,h4,h5,h6,a{
        @include var(color,text-color-invert);
    }       
}

//  Text Colors
.u-text-color-text{
    @include var(color,text-color-body);
    h1,h2,h3,h4,h5,h6,a{
        @include var(color,text-color-body);
    }       
}

.u-text-color-light{
    @include var(color,text-color-light);
    h1,h2,h3,h4,h5,h6,a{
        @include var(color,text-color-light);
    }
}

.u-text-color-primary{
    @include var(color,text-color-primary);   
    h1,h2,h3,h4,h5,h6,a{
        @include var(color,text-color-primary);       
    } 
}

.u-text-color-secondary{
    @include var(color,text-color-secondary);   
    h1,h2,h3,h4,h5,h6,a{
        @include var(color,text-color-secondary);
   
    }
}

.u-text-color-tertiary{
    @include var(color,text-color-tertiary); 
    h1,h2,h3,h4,h5,h6,a{
        @include var(color,text-color-tertiary);    
    }   
}

/* Text Sizes */
.u-text-small{
    @include inuit-font-size(14px);    
} 

.u-text-large{
    @include inuit-font-size(36px);
    @include media-query(lap-and-up){
        @include inuit-font-size(62px);
    }
}   

.u-text-huge{
    @include inuit-font-size(42px);
    @include media-query(lap-and-up){
        @include inuit-font-size(78px);
    }
}