/*------------------------------------*\
    #BASE TYPE
\*------------------------------------*/

html { }

h1,h2,h3,h4,h5,h6{

	color:$color-headings;
}


/**
 * Emboldened elements.
 */

strong, b,
dt{
	font-weight:600;
}

/**
 * Code-like elements.
 */
code, kbd, samp {
    color: $color-text-code;
    font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

pre {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
    padding: $inuit-global-spacing-unit-small;
    background-color: $color-pre-background;
    border-radius: $global-radius;

    &,
    code, kbd, samp {
        color: $color-pre;
    }

}

/**
 * Horizontal rules.
 */
hr {
    border: none;
    border-bottom: 1px solid $color-gray-ui;
    margin-bottom: $inuit-global-spacing-unit - 1px;
}


/*
* Beak superlong text
*/
p,a,td {
    @include contain-text();
}


/**
 * Highlighted text.
 */
mark {

    pre & {
        background: none;
        border-bottom: 1px solid;
        color: inherit;
    }

}

/**
* Blockquote
*/
blockquote{      
    font-style: italic;  
    position: relative;     
    padding:$inuit-global-spacing-unit $inuit-global-spacing-unit*1.5;
    // border-top:1px solid $color-gray-ui;
    // border-bottom:1px solid $color-gray-ui;

        &:after,
        &:before{
            font-style: normal;  
            @include inuit-font-size(32px,1);
            content:'"';
            color:$color-gray-ui;
            position: absolute;                    
            font-weight:900;
            display:inline-block;    
        }
        &:before{
            top:round($inuit-global-spacing-unit/2);
            left:0.3em;  
        }
        &:after{
            bottom:0;
            right:0.3em;  
        }
    p{ margin-bottom:0; }
}