/*------------------------------------*\
    #Generic Input Fields
\*------------------------------------*/

//vars defined in Global Settings 

input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="password"],
select,
textarea{  

    margin-bottom: $inuit-global-spacing-unit/3;
    margin-bottom: ($inuit-global-spacing-unit / $inuit-global-font-size) * 0.33rem;
    border:1px solid $color-gray-ui; 
    -moz-border-radius: $global-radius;
    -webkit-border-radius: $global-radius;
    border-radius: $global-radius;
    padding: $inuit-global-spacing-unit-small; 
    line-height: ($inuit-global-line-height)-2px; // input fields compensate border
    &:focus{
       outline: none;
    }
}
input[type=checkbox], input[type=radio]{
    margin-right: 0.3em;
    width:auto;
  }

input[type="color"]{
  -webkit-appearance: none;
  border: 0;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

::-webkit-input-placeholder, /* Chrome/Opera/Safari */ 
::-moz-placeholder,  /* Firefox 19+ */
:-ms-input-placeholder, /* IE 10+ */
:-moz-placeholder { /* Firefox 18- */
  color: $color-gray-light;
}

[type=reset], [type=submit], button, html [type=button]{
  outline: none;
}

iframe{
  max-width: 100%;
}