/*------------------------------------*\
    #TABS
\*------------------------------------*/
// Display Block FadeIn animation
@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    30% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    30% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    30% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    30% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
.c-responsive-tabs .c-responsive-tabs__heading {
    display: none;
    opacity:0;
}

.c-responsive-tabs .c-responsive-tabs__list__item {
    display: inline;
    cursor: pointer;
    background-color: lighten($color-gray-dark,5);
     @include var(color,background-color-body);
}

.c-responsive-tabs-wrapper {
    clear: both;
    margin-bottom: $spacing-unit;
    zoom: 1;
    background-color: lighten($color-gray-light,1);
}

.c-responsive-tabs-wrapper:before,
.c-responsive-tabs-wrapper:after {
    content: "";
    display: table;
}

.c-responsive-tabs-wrapper:after {
    clear: both;
}

.c-responsive-tabs .c-responsive-tabs__heading:focus,
.c-responsive-tabs .c-responsive-tabs__list__item:focus {
    outline: 1px solid transparent;
}

.c-responsive-tabs .c-responsive-tabs__heading--active:focus,
.c-responsive-tabs .c-responsive-tabs__list__item--active:focus {
    outline: none;
}

.c-responsive-tabs ul.c-responsive-tabs__list {
    margin: 0;
    padding: 0;
}

.c-responsive-tabs .c-responsive-tabs__list__item {
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    border-width: 1px 1px 0px 1px;
     @include var(border-color,background-color-body);
    border-style: solid;
    padding: round($spacing-unit/4) round($spacing-unit/2);
    white-space: nowrap;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0px;
}

.c-responsive-tabs .c-responsive-tabs__list__item .ico {
    margin-right: 8px;
    font-weight: normal;
}

.c-responsive-tabs .c-responsive-tabs__list__item:hover {
    background-color:$color-gray;
     @include var(color,background-color-body);
}

.c-responsive-tabs .c-responsive-tabs__list__item--active{
    @include var(background-color,background-color-body);
    border-color: #ddd;
    @include var(color,text-color-body);
    top: 1px;
}

.c-responsive-tabs .c-responsive-tabs__list__item--active:hover{
    @include var(background-color,background-color-body);
    @include var(color,text-color-body);
}


.c-responsive-tabs .c-responsive-tabs__panel {
    @include var(background-color,background-color-body);
    border: 1px solid #ddd;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    clear: left;
    margin-bottom: 0;
    padding: 20px;
    word-wrap: break-word;
}

.c-responsive-tabs .c-responsive-tabs__panel.c-responsive-tabs__panel--active {
    -webkit-animation: fadeInFromNone 0.8s ease-out;
    -moz-animation: fadeInFromNone 0.8s ease-out;
    -o-animation: fadeInFromNone 0.8s ease-out;
    animation: fadeInFromNone 0.8s ease-out;
}
.c-responsive-tabs .c-responsive-tabs__panel:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.c-responsive-tabs__list__item,
.c-responsive-tabs .c-responsive-tabs__heading {
        @include inuit-font-size(16px); 
        @include var(background-color,background-color-body);
        border: 1px solid $color-gray;
        border-top: none;
        color: $color-gray-dark;
        font-weight: 600;
        text-transform: inherit;
        margin: 0;
        padding: round($spacing-unit/2);
        position: relative;
        &:hover {
            background: $color-gray-light;
            color: $color-gray-dark;
        }
    }

.c-responsive-tabs .c-responsive-tabs__heading--active,
.c-responsive-tabs .c-responsive-tabs__heading--active:hover {
    background: $color-gray;
    @include var(color,background-color-body);
}


@include media-query(lap-and-up) {

    .c-responsive-tabs .c-responsive-tabs__panel--closed-accordion-only {
        display: block;
    }
}

@include media-query(palm) {

    .c-responsive-tabs .c-responsive-tabs__list {
        display: none;
    }

    .c-responsive-tabs .c-responsive-tabs__heading {
        display: block;
        cursor: pointer;
        opacity: 1;
    }

    .c-responsive-tabs-wrapper {
        border-top: 1px solid $color-gray;
    }    

    .c-responsive-tabs .c-responsive-tabs__heading:after {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $color-gray-dark;
        content:"";
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        height: 0;
        width: 0;
    }
    

    .c-responsive-tabs .c-responsive-tabs__heading:hover:after {
        border-top: 6px solid $color-gray-dark;
    }



    .c-responsive-tabs .c-responsive-tabs__heading--active:after,
    .c-responsive-tabs .c-responsive-tabs__heading--active:hover:after {
        border-bottom: 6px solid var(--background-color-body, map-get($vars, background-color-body));
        border-top: 0;
        top: 18px;
    }

    .c-responsive-tabs .c-responsive-tabs__panel {
        @include var(background-color,background-color-body);
        border: 1px solid $color-gray;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-top: none;
        margin: 0;       
    }
}