/*------------------------------------*\
    #COMPONENTS WP-PAGE
\*------------------------------------*/
body{
    @include var(background-color,background-color-body);
    @include var(color,text-color-body);
}
/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/

.reset-space-vertical,
.reset-space-bottom{
    .entry-content{
        margin-bottom: 0;
    }
}

.site-header{
    padding: $inuit-global-spacing-unit 0;
    // margin-bottom:$inuit-global-spacing-unit/2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.brand-logo{
    @include media-query(palm){    
    display: block;
    }
}

.site-title,
.site-description{
    margin: 0;
}

.site-title{
    @include inuit-font-size(18px,1);
}

/*------------------------------------*\
    # PAGE CONTENT
\*------------------------------------*/

.site-content{
    padding: $inuit-global-spacing-unit-large 0;
}

.hentry{
	margin-bottom: $inuit-global-spacing-unit;
}

.entry-content{
    @include inuit-clearfix();
    margin-bottom: round($inuit-global-spacing-unit/2);
}
.entry-title>a{
    font-weight:300;
    @include var(color,text-color-body);
    &:hover{
        text-decoration: none;
        @include var(color,text-color-primary);
    }
}
.entry-meta-content{
	margin-bottom: round($inuit-global-spacing-unit/2);
    @include inuit-font-size(14px,1);
    border-width:1px 0px 1px 0px;
    border-style: solid;
    border-color: $color-gray-light;
    padding: $inuit-global-spacing-unit-small 0;
    font-weight: 500;
    a{      
        color:darken($color-gray-ui,30);
        @include media-query(lap-and-up){
            .archive & {
            color:$color-gray-ui;
            }
         }
      }
      .tag-links,
      .cat-links{
        margin-right:$inuit-global-spacing-unit;
      }
}

.entry-header__entry-title{

    @include inuit-font-size(22px);

    @include media-query('lap-and-up') {
        @include inuit-font-size(28px);
    }

    @include media-query('desktop') {
        @include inuit-font-size(36px);
    }

}


/*------------------------------------*\
    #NAV LINKS
\*------------------------------------*/
.nav-links{
    padding: round($inuit-global-spacing-unit/2) 0;
    margin-bottom: $inuit-global-spacing-unit;
   border-top: 1px solid $color-gray-ui;
}
@include media-query('lap-and-up'){
	.nav-previous{
		float:left;
	}
	.nav-next{
		float:right;
	}
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
.site-footer{
    background:$color-dark;
    padding: $inuit-global-spacing-unit 0 ;
     @include var(color,background-color-body);
    h1,h2,h3,h4,h5,h6{
         @include var(color,background-color-body);
    }
}
.page-micro{
     background: lighten($color-dark,5);
     color:darken($color-gray-ui,15);
}