/*------------------------------------*\
    # COMPONENTS SOCIAL LIST
\*------------------------------------*/
.c-social-list{
	list-style:none;
	margin-left:0;
}
.c-social-list__ico{
	margin-right:0.5em;
	display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
