/*------------------------------------*\
    #COMPONENT MODIFIERS
\*------------------------------------*/
.ico{	
    text-align: center;
	display: inline-block;
}
.ico-wrap--center{
	text-align: center;
}
.ico.ico--sm,
.ico.ico--sm::after{
	@include inuit-font-size(12px,1);    
}
.ico.ico--m{
	@include inuit-font-size(16px,1);
}
.ico.ico--l,
.ico.ico--l::after{
	@include inuit-font-size(20px,1); 
}
.ico.ico--xl,
.ico.ico--xl::after{
	@include inuit-font-size(26px,1);
    @include media-query(lap-and-up){
        @include inuit-font-size(32px,1);
    }
}
.ico.ico--xxl,
.ico.ico--xxl::after{
	@include inuit-font-size(52px);
    @include media-query(lap-and-up){
        @include inuit-font-size(68px,1);
    }
}


.ico--color-one{
	color: $color-theme-1;
}
.ico--color-two{
	color: $color-theme-2;
}
.ico--color-three{
	color: $color-theme-3;
}
.ico--color-four{
	color: $color-theme-4;
}
.ico--color-five{
	color: $color-theme-5;
}
.ico--color-six{
	color: $color-theme-6;	
}
.ico--color-white{
	color: $color-body;	
}