/*------------------------------------*\
    #COMPONENT CONTACT FORM 7
\*------------------------------------*/

.wpcf7-file {
	@include inuit-font-size(12px);
}
.wpcf7-form-control-wrap{
	// @include inuit-clearfix();
}
.wpcf7-not-valid-tip{	
	padding:0.5em;
	background-color:$color-negative;
	color:$color-body;
}
.wpcf7{
	position: relative;
	.screen-reader-response{
		display:none;
	}
		.ajax-loader.is-active{
			 position: absolute;
			 z-index: 9999;
			 width:100%;
			 height:100%;
			 top:0;
			 left:0;
			 display: block;
			 background-color: rgba(000,000,000,0.2);
		&:before{
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			top:50%;
			padding-top:60px;
			text-align: center;
			content:'Processing ...';
			font-weight: 900;
			width: auto;
			height:40px;
			background-image:url('images/loader-one.svg');
			background-repeat: no-repeat;
			background-position: top center;
			display: block;	
		}
	}
}

.wpcf7-response-output{
	background-color:$color-body;
	font-weight: 600;
	@include inuit-font-size(14px);	
}

.wpcf7-validation-errors{
	padding:0.5em;
	background-color:$color-negative;
	color:$color-body;	
}
.wpcf7-mail-sent-ok{
	padding:0.5em;
	background-color:$color-positive;
	color:$color-body;
}
.wpcf7-list-item{
	display: block;
	margin-right:round($inuit-global-spacing-unit/2);
}