/*------------------------------------*\
    #COMPONENTS PAGE-MICRO
\*------------------------------------*/

.page-micro {    
    padding: $inuit-global-spacing-unit-small;
}

.page-micro__copy {
    @include inuit-font-size(12px);
    display: block;
    text-align: center;
}