/*------------------------------------*\
    #COMPONENT MODIFIERS
\*------------------------------------*/
.ico{	
    text-align: center;
	display:inline-block;
}
.ico-wrap--center{
	text-align: center;
}
.ico.ico--sm,
.ico.ico--sm::after{
	@include inuit-font-size(12px,1);    
}
.ico.ico--m{
	@include inuit-font-size(16px,1);
}
.ico.ico--l,
.ico.ico--l::after{
	@include inuit-font-size(20px,1); 
}
.ico.ico--xl,
.ico.ico--xl::after{
	@include inuit-font-size(26px,1);
    @include media-query(lap-and-up){
        @include inuit-font-size(32px,1);
    }
}
.ico.ico--xxl,
.ico.ico--xxl::after{
	@include inuit-font-size(52px);
    @include media-query(lap-and-up){
        @include inuit-font-size(68px,1);
    }
}


.ico--color-one{
	@include var(color,background-color-one);
}
.ico--color-two{
	@include var(color,background-color-two);
	
}
.ico--color-three{
	@include var(color,background-color-three);	
}
.ico--color-four{
	@include var(color,background-color-four);
}
.ico--color-five{
	@include var(color,background-color-five);
}
.ico--color-six{
	@include var(color,background-color-six);	
}
.ico--color-white{
	@include var(color,background-color-body);
}