/*------------------------------------*\
   #COMPONENTS STYLED LISTS
\*------------------------------------*/

.c-list{
    > ul{
       list-style: none;
       margin-left: 0;
    }
    li{
         padding-left:0.8em;
    }
    
 }
 
 .c-list__icon{
         display: inline-block;
         margin-right:0.4em;
         margin-left:-1.4em;
 
 }
 
 .c-list--deco-lines{
    > ul > li{
       border-bottom:1px solid $color-gray-ui;
    }
 }
 
 .c-list--deco-dashes{
    > ul > li{
       border-bottom:1px dashed $color-gray-ui;
    }
 }
 
 .c-list--deco-dots{
    > ul > li{
       border-bottom:1px dotted $color-gray-ui;
    }
 }
 
 .c-list--color-one .c-list__icon{
        @include var(color,background-color-one);
 }
 .c-list--color-two .c-list__icon{
        @include var(color,background-color-two);
 }
 .c-list--color-three .c-list__icon{
        @include var(color,background-color-three);
 }
 .c-list--color-four .c-list__icon{
        @include var(color,background-color-four);
}
 .c-list--color-five .c-list__icon{
        @include var(color,background-color-five);
 }
 
 .c-list--color-six .c-list__icon{
        @include var(color,background-color-six);
 }
 
 .c-list--margin-small{
    > ul > li{
       margin-bottom: $inuit-global-spacing-unit-small;
    }
 }
 .c-list--margin{
    > ul > li{
       margin-bottom: $inuit-global-spacing-unit;
    }
 }
 .c-list--margin-large{
    > ul > li{
       margin-bottom: $inuit-global-spacing-unit-large;
    }
 }