/*------------------------------------*\
   #COMPONENTS STYLED LISTS
\*------------------------------------*/

.c-list{
	> ul{
		list-style: none;
		margin-left: 0;
	}
}

.c-list--bullet-one,
.c-list--bullet-two,
.c-list--bullet-three,
.c-list--bullet-four,
.c-list--bullet-five,
.c-list--bullet-six,
.c-list--bullet-seven,
.c-list--bullet-eight,
.c-list--bullet-nine,
.c-list--bullet-ten{
	> ul > li{
		&::before{
			font-family:$brand-ico-family;
			margin-right:0.4em;
		}
	}
}

.c-list--bullet-one > ul > li::before{ content:$bullet-one;}
.c-list--bullet-two > ul > li::before{ content:$bullet-two;}
.c-list--bullet-three > ul > li::before{ content:$bullet-three;}
.c-list--bullet-four > ul > li::before{ content:$bullet-four;}
.c-list--bullet-five > ul > li::before{ content:$bullet-five;}
.c-list--bullet-six > ul > li::before{ content:$bullet-six;}
.c-list--bullet-seven > ul > li::before{ content:$bullet-seven;}
.c-list--bullet-eight > ul > li::before{ content:$bullet-eight;}
.c-list--bullet-nine > ul > li::before{ content:$bullet-nine;}
.c-list--bullet-ten > ul > li::before{ content:$bullet-ten;}

.c-list--deco-lines{
	> ul > li{
		border-bottom:1px solid $color-gray-ui;
	}
}

.c-list--deco-dashes{
   > ul > li{
      border-bottom:1px dashed $color-gray-ui;
   }
}

.c-list--deco-dots{
   > ul > li{
      border-bottom:1px dotted $color-gray-ui;
   }
}

.c-list--color-one{
   > ul > li{
      &::before{
         color: $color-theme-1;
      }
   }
}
.c-list--color-two{
   > ul > li{
      &::before{
         color: $color-theme-2;
      }
   }
}
.c-list--color-three{
   > ul > li{
      &::before{
         color: $color-theme-3;
      }
   }
}
.c-list--color-four{
   > ul > li{
      &::before{
         color: $color-theme-4;
      }
   }
}
.c-list--color-five{
   > ul > li{
      &::before{
         color: $color-theme-5;
      }
   }
}

.c-list--color-six{
   > ul > li{
      &::before{
         color: $color-theme-6;
      }
   }
}