/*------------------------------------*\
    #COLORS
\*------------------------------------*/

// Literal color variables.
// Ref: http://flatuicolors.com/
// Ref: http://designmodo.com/flat-free/
// For More flat colors visit
// Ref: http://www.flatuicolorpicker.com/
// Ref: http://bootflat.github.io/color-picker.html

// Assign colors to more meaningful variables.
// Quick use color palette
$color-turquoise:     #1abc9c;
$color-green-sea:     #16a085;
$color-sun-flower:    #f1c40f;
$color-orange:        #f39c12;
$color-emerald:       #2ecc71;
$color-nephritis:     #27ae60;
$color-carrot:        #e67e22;
$color-pumpkin:       #d35400;
$color-peter-river:   #3498db;
$color-belize-hole:   #2980b9;
$color-alizarin:      #e74c3c;
$color-pomegrante:    #c0392b;
$color-amethyst:      #9b59b6;
$color-wisteria:      #8e44ad;
$color-clouds:        #ecf0f1;
$color-silver:        #bdc3c7;
$color-wet-asphalt:   #34495e;
$color-midnight-blue: #2c3e50;
$color-concrete:      #95a5a6;
$color-asbestos:      #7f8c8d;


// Main brand color
$color-brand:	$color-peter-river;


// Dark,Light / shades
// Used on dropshadows, UI borders etc...
$color-gray:        #444;
$color-white:       #fff;
$color-dark:        #222;
$color-gray-dark:   #222;
$color-gray-light:  #f7f6f6;
$color-gray-ui:     #ddd;
$color-gray-ui-dark:     darken($color-gray-ui,15);

$color-bg-opaq-dark:		 $color-dark;
$color-bg-opaq-dark-opacity: 0.7;
$color-bg-opaq-light:		 $color-white;
$color-bg-opaq-light-opacity: 0.7;

// Slider Colors
$color-arrow: '333333'; //Use hex color without # value is interpolated in svg
$color-bullet: #333;

// Navigation colors
// Page navigation
$color-nav-link:        #333;

// Colors used for alterts
//ex. CF7 success / error
$color-positive:		$color-nephritis;
$color-negative:		$color-pomegrante;

// Button Colors
$color-button-white-text:		#333;

// Flat UI Cards
$color-card-bg-1:				$color-gray-ui;
$color-card-bg-2:				$color-gray-light;

// Code <pre>..</pre>
$color-text-code:       $color-nephritis;
$color-pre-background:  $color-gray;
$color-pre:				      $color-white;

$vars: (
  primary: #309bd4,
  navbg: rgba(#309bd4,0.8),
  secondary: #00B0D0,  
  invert-color: #fff,
  bg-color-one:#309bd4,
  color-bg-opaq-dark: $color-bg-opaq-dark,
  color-bg-opaq-light: $color-white,
  text-color-invert: #fff,
  text-color-body: #000000,
  text-color-link: #2980b9,
  text-color-light: #dddddd,
  text-color-heading: #000000,
  text-color-primary: #309bd4,
  text-color-secondary:#e74c3c,
  text-color-tertiary: #FAFA26,  
  background-color-one: #2c3e50,
  background-color-two:	#e74c3c,
  background-color-three:	#FAFA26,
  background-color-four:	#3498db,
  background-color-five:	#9b59b6,
  background-color-six:	#27ae60,
  background-color-dark: #0C1516,
  background-color-body: #ffffff,
  background-color-light:#F7F5ED,
  button-color-default: #1E1E1C,  
  button-color-primary: #20638f,  
  button-color-secondary: #e67e22,
  button-color-tertiary: #00B0D0,
  button-color-negative: #e74c3c,
  button-color-positive: #2ecc71,
  button-color-neutral: #505050,
  button-color-light: #999999,
  button-color-white: #ffffff,  
  button-color-default-h: darken(#1E1E1C,10),
  button-color-primary-h: darken(#20638f,10),
  button-color-secondary-h: darken(#e67e22,10),
  button-color-tertiary-h: darken(#00B0D0,10),
  button-color-negative-h: darken(#e74c3c,10),
  button-color-positive-h: darken(#2ecc71,10),
  button-color-neutral-h: darken(#505050,10),
  button-color-light-h: darken(#999999,10),
  button-color-white-h: darken(#ffffff,10),
);