//************************
//    Styled list settings
//************************

$brand-ico-family: 'fontawesome';

// fontawesome html entities
$bullet-one    : "\f00c";
$bullet-two    : "\f00d";
$bullet-three  : "\f0da";
$bullet-four   : "\f105";
$bullet-five   : "\f0a9";
$bullet-six    : "\f061";
$bullet-seven  : "\f18e";
$bullet-eight  : "\f058";
$bullet-nine   : "\f05d";
$bullet-ten    : "\f055";