/* ==========================================================================
   INUITCSS
   ========================================================================== */
/*------------------------------------*\
    #COLORS
\*------------------------------------*/
/*------------------------------------*\
    #FONTS
\*------------------------------------*/
/*------------------------------------*\
    #CONTAIN TEXT
\*------------------------------------*/
/*
 * #break long words taht would overflow from container
 */
/*------------------------------------*\
    #MEDIA QUERY GENERATOR
\*------------------------------------*/
/* ==========================================================================
   #BUTTONS
   ========================================================================== */
/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */
/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */
.c-button {
  display: inline-block;
  /* [1] */
  vertical-align: middle;
  /* [2] */
  font: inherit;
  /* [3] */
  text-align: center;
  /* [4] */
  margin: 0;
  /* [4] */
  cursor: pointer;
  /* [5] */
  padding: 12px 24px;
  transition: 0.33333s;
  border-radius: 3px;
  background-color: #2c3e50; }
  .c-button, .c-button:hover, .c-button:active, .c-button:focus {
    text-decoration: none;
    color: #fff; }
  .c-button:hover, .c-button:focus {
    background-color: #1a252f; }

/* Style variants
   ========================================================================== */
.c-button--primary {
  background-color: #3498db; }
  .c-button--primary, .c-button--primary:hover, .c-button--primary:active, .c-button--primary:focus {
    color: #fff; }
  .c-button--primary:hover, .c-button--primary:focus {
    background-color: #217dbb; }

.c-button--secondary {
  background-color: #e74c3c; }
  .c-button--secondary, .c-button--secondary:hover, .c-button--secondary:active, .c-button--secondary:focus {
    color: #fff; }
  .c-button--secondary:hover, .c-button--secondary:focus {
    background-color: #d62c1a; }

.c-button--tertiary {
  background-color: #f39c12; }
  .c-button--tertiary, .c-button--tertiary:hover, .c-button--tertiary:active, .c-button--tertiary:focus {
    color: #fff; }
  .c-button--tertiary:hover, .c-button--tertiary:focus {
    background-color: #c87f0a; }

.c-button--negative {
  background-color: #3498db; }
  .c-button--negative, .c-button--negative:hover, .c-button--negative:active, .c-button--negative:focus {
    color: #fff; }
  .c-button--negative:hover, .c-button--negative:focus {
    background-color: #217dbb; }

.c-button--positive {
  background-color: #9b59b6; }
  .c-button--positive, .c-button--positive:hover, .c-button--positive:active, .c-button--positive:focus {
    color: #fff; }
  .c-button--positive:hover, .c-button--positive:focus {
    background-color: #804399; }

.c-button--neutral {
  background-color: #27ae60; }
  .c-button--neutral, .c-button--neutral:hover, .c-button--neutral:active, .c-button--neutral:focus {
    color: #fff; }
  .c-button--neutral:hover, .c-button--neutral:focus {
    background-color: #1e8449; }

.c-button--light {
  background-color: #b7b7b7; }
  .c-button--light, .c-button--light:hover, .c-button--light:active, .c-button--light:focus {
    color: #fff; }
  .c-button--light:hover, .c-button--light:focus {
    background-color: #9d9d9d; }

.c-button--white {
  background-color: #fff; }
  .c-button--white, .c-button--white:hover, .c-button--white:active, .c-button--white:focus {
    color: #333; }
  .c-button--white:hover, .c-button--white:focus {
    background-color: #fafafa; }

/* Size variants
   ========================================================================== */
.c-button--small {
  padding: 0.375rem 0.75rem; }

.c-button--large {
  padding: 1.5rem 3rem; }

/* Ghost buttons
   ========================================================================== */
/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */
.c-button--ghost {
  border: 1px solid #2c3e50;
  color: #2c3e50;
  padding: 11px 23px; }
  .c-button--ghost, .c-button--ghost:hover, .c-button--ghost:active, .c-button--ghost:focus {
    background: none;
    color: #1a252f; }
  .c-button--ghost.c-button--small {
    padding: 5px 11px; }
  .c-button--ghost.c-button--large {
    padding: 23px 47px; }
  .c-button--ghost.c-button--primary {
    color: #3498db;
    border-color: currentColor; }
    .c-button--ghost.c-button--primary:hover, .c-button--ghost.c-button--primary:focus {
      color: #217dbb; }
  .c-button--ghost.c-button--secondary {
    color: #e74c3c;
    border-color: currentColor; }
    .c-button--ghost.c-button--secondary:hover, .c-button--ghost.c-button--secondary:focus {
      color: #d62c1a; }
  .c-button--ghost.c-button--tertiary {
    color: #f39c12;
    border-color: currentColor; }
    .c-button--ghost.c-button--tertiary:hover, .c-button--ghost.c-button--tertiary:focus {
      color: #c87f0a; }
  .c-button--ghost.c-button--negative {
    color: #3498db;
    border-color: currentColor; }
    .c-button--ghost.c-button--negative:hover, .c-button--ghost.c-button--negative:focus {
      color: #217dbb; }
  .c-button--ghost.c-button--positive {
    color: #9b59b6;
    border-color: currentColor; }
    .c-button--ghost.c-button--positive:hover, .c-button--ghost.c-button--positive:focus {
      color: #804399; }
  .c-button--ghost.c-button--neutral {
    color: #27ae60;
    border-color: currentColor; }
    .c-button--ghost.c-button--neutral:hover, .c-button--ghost.c-button--neutral:focus {
      color: #1e8449; }
  .c-button--ghost.c-button--light {
    color: #b7b7b7;
    border-color: currentColor; }
    .c-button--ghost.c-button--light:hover, .c-button--ghost.c-button--light:focus {
      color: #9d9d9d; }
  .c-button--ghost.c-button--white {
    color: #fff;
    border-color: currentColor; }
    .c-button--ghost.c-button--white:hover, .c-button--ghost.c-button--white:focus {
      color: #fafafa; }

/** Alignments **/
.c-button--center {
  display: table;
  margin: 0 auto; }

.c-button--right {
  display: table;
  margin: 0 0 0 auto; }

/** Aspect **/
.c-button--pill {
  border-radius: 100px; }

.c-button--full {
  width: 100%; }

/*------------------------------------*\
    #COMPONENTS DIVIDER
\*------------------------------------*/
.c-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */ }

.c-divider--dashed {
  border-top-style: dashed;
  border-bottom-style: dashed; }

.c-divider--dotted {
  border-top-style: dotted;
  border-bottom-style: dotted; }

/*------------------------------------*\
    #TRUMPS TYPOGRAPHY
\*------------------------------------*/
.u-text-normal {
  font-weight: 300; }

.u-text-thinner {
  font-weight: 100; }

.u-text-thin {
  font-weight: 200; }

.u-text-bold {
  font-weight: 600; }

.u-text-bolder {
  font-weight: 900; }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

.u-text-left {
  text-align: left; }

.u-text-color-invert {
  color: #fff; }
  .u-text-color-invert h1, .u-text-color-invert h2, .u-text-color-invert h3, .u-text-color-invert h4, .u-text-color-invert h5, .u-text-color-invert h6, .u-text-color-invert a {
    color: #fff; }

.u-text-color-light {
  color: #ddd; }
  .u-text-color-light h1, .u-text-color-light h2, .u-text-color-light h3, .u-text-color-light h4, .u-text-color-light h5, .u-text-color-light h6, .u-text-color-light a {
    color: #ddd; }

.u-text-color-primary {
  color: #3498db; }
  .u-text-color-primary h1, .u-text-color-primary h2, .u-text-color-primary h3, .u-text-color-primary h4, .u-text-color-primary h5, .u-text-color-primary h6, .u-text-color-primary a {
    color: #3498db; }

.u-text-color-secondary {
  color: #e74c3c; }
  .u-text-color-secondary h1, .u-text-color-secondary h2, .u-text-color-secondary h3, .u-text-color-secondary h4, .u-text-color-secondary h5, .u-text-color-secondary h6, .u-text-color-secondary a {
    color: #e74c3c; }

.u-text-color-tertiary {
  color: #f39c12; }
  .u-text-color-tertiary h1, .u-text-color-tertiary h2, .u-text-color-tertiary h3, .u-text-color-tertiary h4, .u-text-color-tertiary h5, .u-text-color-tertiary h6, .u-text-color-tertiary a {
    color: #f39c12; }

.u-text-large {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.71429; }
  @media screen and (min-width: 45em) {
    .u-text-large {
      font-size: 32px;
      font-size: 2rem;
      line-height: 1.5; } }

.u-text-huge {
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 1.14286; }
  @media screen and (min-width: 45em) {
    .u-text-huge {
      font-size: 48px;
      font-size: 3rem;
      line-height: 1; } }

/*------------------------------------*\
    #BG-HIGHLIGHTS
\*------------------------------------*/
.u-background-color-one {
  background-color: #2c3e50; }

.u-background-color-two {
  background-color: #e74c3c; }

.u-background-color-three {
  background-color: #f39c12; }

.u-background-color-four {
  background-color: #3498db; }

.u-background-color-five {
  background-color: #9b59b6; }

.u-background-color-six {
  background-color: #27ae60; }

.u-background-color-body {
  background-color: #fff; }

.u-background-light {
  background-color: #ddd; }

.u-background-dark {
  background-color: #222; }

.u-background-body {
  background-color: #fff; }

/* Transpearent Backgrounds */
.u-background-opaq-dark {
  background-color: #222; }

.u-background-opaq-light {
  background-color: #fff; }

/* Background Image Adjustments */
.u-background-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }


