/* ==========================================================================
   #OBJECT TABLE
   ========================================================================== */

.o-table--striped{
	tr:nth-child(even) {
		background: $color-body; 		
	}
	tr:nth-child(odd) {
		background: lighten($color-gray-ui,5);		
	}
}

.o-table--rows{
	&,
    th,
    td {
        border: 0 solid $color-gray-ui;
    }

    border-top-width: 1px;
    th,
    td {
        border-bottom-width: 1px;
    }
}

.o-table--columns{

	&,
    th,
    td {
        border: 0 solid $color-gray-ui;
    }

    border-left-width: 1px;
    
    th,
    td {
        border-right-width: 1px;
    }

}

