/* Revealer */
.revealer{
    text-align:center;
    margin-bottom:$inuit-base-spacing-unit;
}
.revealer:hover{
  cursor:pointer;   
}
.revealer__item{
  display:inline-block;
}
.revealer__item--set-width{
    min-width:100px;
}
.revealer__item--set-width2{
    min-width:93px;
}
.final{
  display:none;
}
.revealer a{
  color:$color-brand;
}
.revealer i{
    @include inuit-font-size(22px,0.5);
}
@include media-query(lap-and-up) {
    .revealer{
    text-align:right;
    }
}