/*------------------------------------*\
    #SITE-NAV
\*------------------------------------*/

img{
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;
    height: auto;
    
   // &[width],&[height]{
   //     max-width:none
   // }
}
    